Options -Multiviews

RewriteEngine On

# Mengarahkan semua request ke folder public jika ada
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

RewriteCond %{HTTP_REFERER} !^http://absensi.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://absensi.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alumni.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alumni.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://assets.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://assets.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hadirin.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hadirin.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://karyawan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://karyawan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kegiatan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kegiatan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kesiswaan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kesiswaan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kjks.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kjks.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maal.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maal.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pondok.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pondok.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://register.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://register.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sec.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sec.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://siskop.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://siskop.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wa-api.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wa-api.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.absensi.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.absensi.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alumni.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alumni.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.assets.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.assets.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hadirin.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hadirin.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.karyawan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.karyawan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kegiatan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kegiatan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kesiswaan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kesiswaan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kjks.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kjks.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maal.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maal.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pondok.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pondok.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.register.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.register.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sec.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sec.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.siskop.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.siskop.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wa-api.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wa-api.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://absensi.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://absensi.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alumni.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alumni.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://assets.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://assets.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hadirin.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hadirin.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://karyawan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://karyawan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kegiatan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kegiatan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kesiswaan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kesiswaan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kjks.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kjks.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maal.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maal.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pondok.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pondok.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://register.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://register.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sec.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sec.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://siskop.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://siskop.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wa-api.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wa-api.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.absensi.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.absensi.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alumni.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alumni.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.assets.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.assets.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hadirin.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hadirin.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.karyawan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.karyawan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kegiatan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kegiatan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kesiswaan.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kesiswaan.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kjks.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kjks.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maal.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maal.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pondok.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pondok.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.register.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.register.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sec.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sec.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.siskop.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.siskop.ppmawar.or.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wa-api.ppmawar.or.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wa-api.ppmawar.or.id$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|mp4)$ - [F,NC]

